{%extends "layout.html"%}
{%block content%}
<div class="grid grid-cols-1 gap-2">
    {%for post in posts%}
    <div class="bg-white rounded-md shadow-md">
        <div class="flex flex-row">
            <img src="{{ url_for('static', path='images/user_icon.jpeg') }}" alt="user icon"
                class="object-cover w-12 h-12 rounded-full mt-3 mx-3 my-3 mb-2" />
            <div class="text-lg font-bold mt-5 mb-3">{{post.title}}</div>
        </div>
        <p class="flex mx-3 text-gray-600 text-sm" >
            {{post.content}}
        </p>
        <div class="flex flex-row-reverse gap-1 text-sm italic p-2">
            <span>{{post.author}}</span>
            <span>{{post.date_posted}}</span>
        </div>
    </div>
    {%endfor%}
    <div id="posts"></div>
</div>
{%endblock content%}